<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarena.dao.VideoMapper">
	<resultMap type="Role" id="roleMap">
	    <!-- 注意:从表中的外键id,不能跟主表的主键id名字相同 -->
		<id property="id" column="role_id" />
		<result property="name" column="role_name"/>
	</resultMap>
	<!-- user的resultMap -->
	<resultMap type="User" id="userMap">
		<id property="id" column="user_id" jdbcType="VARCHAR"/>
		<result property="loginName" column="user_loginname" jdbcType="VARCHAR"/>
		<result property="loginType" column="user_logintype" jdbcType="VARCHAR"/>
		<result property="nickName" column="user_nickname" jdbcType="VARCHAR"/>
		<result property="password" column="user_password" jdbcType="VARCHAR"/>
		<result property="type" column="user_type" jdbcType="INTEGER"/>
		<result property="head" column="user_head" jdbcType="VARCHAR"/>
		<result property="score" column="user_score" jdbcType="INTEGER"/>
		<result property="isLock" column="user_islock" jdbcType="CHAR"/>
		<result property="pwdState" column="user_pwdstate" jdbcType="VARCHAR"/>
		<result property="regDate" column="user_regdate" jdbcType="TIMESTAMP"/>
		<result property="age" column="user_age" jdbcType="INTEGER"/>
		<result property="sex" column="user_sex" jdbcType="CHAR"/>
		<result property="introduction" column="user_introduction" jdbcType="VARCHAR"/>
		<collection property="roles" ofType="Role" 
		            javaType="java.util.List"
		            resultMap="roleMap"></collection>
	</resultMap>
	
	<!-- Course 的resultMap -->
	<resultMap type="Course" id="courseMap">
		<id property="id" column="course_id" />
		<result property="name" column="course_name" />
		<result property="picture" column="course_picture" />
		<result property="order" column="course_order" jdbcType="INTEGER"/>
		<result property="desc" column="course_desc"/>
	</resultMap>
	<!-- video 的resultMap -->
	<resultMap type="Video" id="videoMap">
		<id property="id" column="video_id" jdbcType="CHAR"></id>
		<result property="title" column="video_title" jdbcType="VARCHAR"/>
		<result property="special" column="video_special" jdbcType="INTEGER"/>
		<result property="forsale" column="video_forsale" jdbcType="CHAR"/>
		<result property="count" column="video_click_count" jdbcType="BIGINT"/>
		<result property="introduction" column="video_introduction" jdbcType="VARCHAR"/>
		<result property="picture" column="video_picture" jdbcType="VARCHAR"/>
		<result property="picturecc" column="video_picture_cc" jdbcType="VARCHAR"/>
		<result property="fileName" column="video_filename" jdbcType="VARCHAR"/>
		<result property="videoUrlcc" column="video_url_cc" jdbcType="VARCHAR"/>
		<result property="state" column="video_state" jdbcType="INTEGER"/>
		<result property="ontime" column="video_ontime" jdbcType="TIMESTAMP"/>
		<result property="difficulty" column="video_difficulty" jdbcType="INTEGER"/>
		<result property="md5" column="md5" jdbcType="VARCHAR"/>
		<result property="tag" column="video_tag" jdbcType="VARCHAR"/>
		<result property="fileSize" column="video_filesize" jdbcType="BIGINT"/>
		<result property="metaurl" column="metaurl" jdbcType="VARCHAR"/>
		<result property="chunkurl" column="chunkurl" jdbcType="VARCHAR"/>
		<result property="ccvid" column="ccvid" jdbcType="VARCHAR"/>
		<association property="user" column="user_id"
		             javaType="User" resultMap="userMap">
		</association>
		<association property="course" column="course_id"
		             javaType="Course" resultMap="courseMap"></association>
	</resultMap>
	
	
	<!-- 添加视频信息 ,视频上传时使用-->
	<insert id="save"
	        parameterType="Video">
		insert into t_video
		(
			video_id,
			video_title,
			video_tag,
			course_id,
			user_id,
			video_introduction,
			video_filename,
			video_filesize,
			video_picture,
			video_state,
			md5
		)
		values
		(
			#{id,jdbcType=VARCHAR},
			#{title,jdbcType=VARCHAR},
			#{tag,jdbcType=VARCHAR},
			#{course.id,jdbcType=VARCHAR},
			#{user.id,jdbcType=VARCHAR},
			#{introduction,jdbcType=VARCHAR},
			#{fileName,jdbcType=VARCHAR},
			#{fileSize,jdbcType=BIGINT},
			#{picture,jdbcType=VARCHAR},
			#{state,jdbcType=INTEGER},
			#{md5,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 更新视频的状态 -->
	<update id="updateVideoState"
	        parameterType="Video">
		update t_video set
		   video_state=#{state,jdbcType=INTEGER}    
		where video_id=#{id,jdbcType=VARCHAR}    
	</update>
	<!-- 更新cc视频的消息到video表中 -->
	<update id="updateCCVideo"
	        parameterType="Video">
		update t_video set
		   metaurl=#{metaurl,jdbcType=VARCHAR},
		   chunkurl=#{chunkurl,jdbcType=VARCHAR},
		   ccvid=#{ccvid,jdbcType=VARCHAR},
		   servicetype=#{servicetype,jdbcType=VARCHAR}
		where video_id=#{id,jdbcType=VARCHAR} 
	</update>
	<!-- 根据视频id查询cc的信息 -->
	<select id="findPartCCInfoByVideoId"
	        parameterType="java.lang.String"
	        resultMap="videoMap">
		select
		    video_id,
		    video_filename,
		    video_filesize,
		    chunkurl,
		    ccvid
		from t_video
		where
		    video_id=#{id}
	</select>
	<!-- 查询视频信息给lucene检索使用 -->
	<select id="findAllVideosByLucene"
	        resultMap="videoMap">
		select
		    v.video_id,
		    v.video_title,
		    v.video_special,
		    v.video_click_count,
		    v.video_picture,
		    v.video_picture_cc,
		    v.video_filename,
		    v.video_url_cc,
		    v.video_introduction,
		    v.video_state,
		    u.user_id,
		    u.user_nickname,
		    c.course_id,
		    c.course_name
		from t_video v
		inner join t_user u on v.user_id=u.user_id
		inner join t_course c on v.course_id=c.course_id
	</select>
</mapper>